.footer {
    display: flex;
    gap: 0.5em;
    justify-content: space-evenly;
    margin: 0;
    background-color: var(--tiffany-transparent);
    color: var(--oxford-blue);
    padding: 1rem;
}
.miniTitle{
    font-weight: bold;
}
.social {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.address {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}


